.tempo-dial-container {
    display: inline-block;
    position: relative;
}

.bpm-display {
  color: #bbb;
  font-size: 5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


