.tempo-dial-container {
    display: inline-block;
    position: relative;
}

.bpm-display {
  color: #ef9d20;
  font-size: xx-large;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


