.tempo-dial-container {
    display: inline-block;
    position: relative;

}

.bpm-display {
  color: #61892f;
  font-size: xx-large;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


